<div>
    <section class="content">
        <div class="tab" data-group="party">
            <div class="table-row header">
                {{> "modules/party-overview/templates/parts/FilterButton.html"}}
                <div class="text">Name</div>
                <div class="num" title="{{localize "DCC.HitPoints"}}"><i class="fas fa-heart"></i></div>
                <div class="num" title="{{localize "DCC.ArmorClass"}}"><i class="fas fa-shield-alt"></i></div>
                <div class="num" title="{{localize "DCC.AbilityLck"}}">🍀</div>
                <div class="num" title="{{localize "DCC.SavesFortitude"}}"><i class="fas fa-hard-hat"></i></div>
                <div class="num" title="{{localize "DCC.SavesReflex"}}"><i class="fas fa-running"></i></div>
                <div class="num" title="{{localize "DCC.SavesWill"}}"><i class="fas fa-brain"></i></div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                {{> "modules/party-overview/templates/parts/ToggleVisibilityButton.html" actor=actor}}
                <div class="text">{{ actor.shortestName }}</div>

                <div class="num">{{ actor.hp.value }}/{{ actor.hp.max }}</div>
                <div class="num">{{ actor.armor }}</div>
                <div class="num">{{ actor.abilities.lck.value }}</div>
                <div class="num">{{ actor.saves.frt.value }}</div>
                <div class="num">{{ actor.saves.ref.value }}</div>
                <div class="num">{{ actor.saves.wil.value }}</div>
            </div>
            {{/each}}
        </div>
    </section>
</div>
