<div>
    <nav class="tabs" data-group="party">
        <li class="item" data-tab="general">{{localize "party-overview.GENERAL"}}</li>
		<li class="item" data-tab="currencies">{{localize "party-overview.WEALTH"}}</li>
		<li class="item" data-tab="languages">{{localize "PF1.Languages"}}</li>
		<li class="item" data-tab="lore">{{localize "PF1.SkillLor"}}</li>
    </nav>
    <section class="content">
        <div class="tab" data-tab="general" data-group="party">
            <div class="table-row header">
                {{> "modules/party-overview/templates/parts/FilterButton.html"}}
                <div class="text">{{localize "party-overview.NAME"}}</div>
                <div class="num" title="Health"><i class="fas fa-heart"></i></div>
                <div class="num" title="Armor Class"><i class="fas fa-shield-alt"></i></div>
                <div class="num" title="Perception"><i class="far fa-eye"></i></div>
                <div class="num" title="Fortitude"><i class="fas fa-hard-hat"></i></div>
                <div class=" num" title="Reflex"><i class="fas fa-running"></i></div>
                <div class="num" title="Will"><i class="fas fa-brain"></i></div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                <div class="button">
                    <button class="btn-toggle-visibility" data-actor="{{actor.id }}">
                        {{#if actor.isHidden }}<i class="value fas fa-eye-slash"></i>{{else}}<i
                            class="value fas fa-eye"></i>{{/if}}
                    </button>
                </div>
                <div class="text">{{ actor.shortestName }}</div>
                <div class="num">{{ actor.hp.value }}/{{ actor.hp.max }}</div>
                <div class="num">{{ actor.armor }} {{#if actor.shieldAC}}{{ actor.shieldAC }}{{/if}}</div>
                <div class="num">{{ actor.perception }}</div>
                <div class="num">{{ actor.saves.fortitude }}</div>
                <div class="num">{{ actor.saves.reflex }}</div>
                <div class="num">{{ actor.saves.will }}</div>
            </div>
            {{/each}}
        </div>
		<!-- Languages -->
        {{> "modules/party-overview/templates/parts/Languages.html"}}

        <!-- Lore -->
        {{> "modules/party-overview/templates/parts/PF2e-Lore.html"}}

        <!-- Currency -->
        <div class="tab" data-tab="currencies" data-group="party">
            <div class="table-row header">
                {{> "modules/party-overview/templates/parts/FilterButton.html"}}
                <div class="text">Name</div>
                <div class="text">{{localize "PF1.CurrencyPP"}}</div>
                <div class="text">{{localize "PF1.CurrencyGP"}}</div>
                <div class="text">{{localize "PF1.CurrencySP"}}</div>
                <div class="text">{{localize "PF1.CurrencyCP"}}</div>
                <div class="text">{{localize "PF1.CurrencyGP"}} ({{localize "party-overview.TOTAL"}})</div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                <div class="button">
                    <button class="btn-toggle-visibility" data-actor="{{actor.id }}">
                        {{#if actor.isHidden }}<i class="value fas fa-eye-slash"></i>{{else}}<i
                            class="value fas fa-eye"></i>{{/if}}
                    </button>
                </div>
                <div class="text">{{ actor.shortestName }}</div>
                <div class="text">{{currency.pp}}</div>
                <div class="text">{{currency.gp}}</div>
                <div class="text">{{currency.sp}}</div>
                <div class="text">{{currency.cp}}</div>
                <div class="text"><b>{{actor.totalGP}}</b></div>
            </div>
            {{/each}}
            <div class="table-row">
                <div class="button">

                </div>
                <div class="text">{{localize "party-overview.TOTAL"}}</div>
                <div class="text">{{totalCurrency.pp}}</div>
                <div class="text">{{totalCurrency.gp}}</div>
                <div class="text">{{totalCurrency.sp}}</div>
                <div class="text">{{totalCurrency.cp}}</div>
                <div class="text"><b>{{totalPartyGP}}</b></div>
            </div>
        </div>

        <!-- Lore -->
        {{> "modules/party-overview/templates/parts/PF2e-Bulk.html"}}
    </section>
</div>