<div>
    <nav class="tabs" data-group="party">
        <li class="item" data-tab="general">{{localize "party-overview.GENERAL"}}</li>
		{{!-- <li class="item" data-tab="bulk">{{localize "PF2E.BulkShortLabel"}}</li> --}}
		<li class="item" data-tab="currencies">{{localize "party-overview.WEALTH"}}</li>
		<li class="item" data-tab="languages">{{localize "PF2E.Languages"}}</li>
		<li class="item" data-tab="lore">{{localize "PF2E.Lore"}}</li>
    </nav>
    <section class="content">
        <div class="tab" data-tab="general" data-group="party">
            <div class="table-row header">
                {{> "modules/party-overview/templates/parts/FilterButton.html"}}
                <div class="text">{{localize "party-overview.NAME"}}</div>
                <div class="num" title="{{localize "PF2E.HeroPointsLabel"}}">Hero</div>
                <div class="num" title="{{localize "PF2E.HitPointsLabel"}}"><i class="fas fa-heart"></i></div>
                <div class="num" title="{{localize "PF2E.ArmorClass"}}"><i class="fas fa-shield-alt"></i></div>
                <div class="num" title="{{localize "PF2E.Perception"}}"><i class="far fa-eye"></i></div>
                <div class="num" title="{{localize "PF2E.SavesFortitude"}}"><i class="fas fa-hard-hat"></i></div>
                <div class=" num" title="{{localize "PF2E.SavesReflex"}}"><i class="fas fa-running"></i></div>
                <div class="num" title="{{localize "PF2E.SavesWill"}}"><i class="fas fa-brain"></i></div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                <div class="button">
                    <button class="btn-toggle-visibility" data-actor="{{actor.id }}">
                        {{#if actor.isHidden }}<i class="value fas fa-eye-slash"></i>{{else}}<i
                            class="value fas fa-eye"></i>{{/if}}
                    </button>
                </div>
                <div class="text">{{ actor.shortestName }}</div>
                <div class="num">{{ actor.heroPoints.rank }}/{{ actor.heroPoints.max }}</div>
                <div class="num">{{ actor.hp.value }}/{{ actor.hp.max }}</div>
                <div class="num">{{ actor.armor }} {{#if actor.shieldAC}}{{ actor.shieldAC }}{{/if}}</div>
                <div class="num">{{ actor.perception }}</div>
                <div class="num">{{ actor.saves.fortitude }}</div>
                <div class="num">{{ actor.saves.reflex }}</div>
                <div class="num">{{ actor.saves.will }}</div>
            </div>
            {{/each}}
        </div>
		<!-- Languages -->
        {{> "modules/party-overview/templates/parts/Languages.html"}}

        <!-- Lore -->
        {{> "modules/party-overview/templates/parts/PF2e-Lore.html"}}

        <!-- Currency -->
        <div class="tab" data-tab="currencies" data-group="party">
            <div class="table-row header">
                {{> "modules/party-overview/templates/parts/FilterButton.html"}}
                <div class="text">Name</div>
                <div class="num">{{localize "PF2E.CurrencyPP"}}</div>
                <div class="num">{{localize "PF2E.CurrencyGP"}}</div>
                <div class="num">{{localize "PF2E.CurrencySP"}}</div>
                <div class="num">{{localize "PF2E.CurrencyCP"}}</div>
                <div class="num">{{localize "PF2E.StackGroupCoins"}} ({{localize "PF2E.CurrencyGP"}})</div>
                <div class="num">{{localize "PF2E.Item.Plural"}} ({{localize "PF2E.CurrencyGP"}})</div>
                <div class="num">{{localize "party-overview.TOTAL"}}</div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                <div class="button">
                    <button class="btn-toggle-visibility" data-actor="{{actor.id }}">
                        {{#if actor.isHidden }}<i class="value fas fa-eye-slash"></i>{{else}}<i
                            class="value fas fa-eye"></i>{{/if}}
                    </button>
                </div>
                <div class="text">{{ actor.shortestName }}</div>
                <div class="num">{{currency.pp}}</div>
                <div class="num">{{currency.gp}}</div>
                <div class="num">{{currency.sp}}</div>
                <div class="num">{{currency.cp}}</div>
                <div class="num"><b>{{actor.totalGP}}</b></div>
                <div class="num"><b>{{itemsValue}}</b></div>
                <div class="num"><b>{{actor.sumItemsGP}}</b></div>
            </div>
            {{/each}}
            <div class="table-row">
                <div class="button">

                </div>
                <div class="text">{{localize "party-overview.TOTAL"}}</div>
                <div class="num">{{totalCurrency.pp}}</div>
                <div class="num">{{totalCurrency.gp}}</div>
                <div class="num">{{totalCurrency.sp}}</div>
                <div class="num">{{totalCurrency.cp}}</div>
                <div class="num"><b>{{totalPartyGP}}</b></div>
                <div class="num"><b>{{itemsValue}}</b></div>
                <div class="num"><b>{{sumItemsGP}}</b></div>
            </div>
        </div>

        <!-- Bulk -->
        {{!-- {{> "modules/party-overview/templates/parts/PF2e-Bulk.html"}} --}}
    </section>
</div>