<div>
    <section class="content">
        <div class="tab" data-group="party">
            <div class="table-row header">
                {{> "modules/party-overview/templates/parts/FilterButton.html"}}
                <div class="text">{{localize "party-overview.NAME"}}</div>
                <div class="text icon">{{localize "BITD.Stress"}}</i></div>
                <div class="text icon">{{localize "BITD.Coins"}}</i></div>
                <div class="text">{{localize "BITD.Harm"}}</i></div>
            </div>

            {{#each actors as | actor | }}
            <div class="table-row">
                {{> "modules/party-overview/templates/parts/ToggleVisibilityButton.html" actor=actor}}
                <div class="text">{{ actor.shortestName }}</div>
                <div class="text icon">{{ actor.stress.value }}/{{ actor.stress.max }}</div>
                <div class="text icon">{{ actor.coins }}</div>
                <div class="text" style="white-space: normal;">{{ actor.harm }}</div>
            </div>
            {{/each}}
        </div>
        {{#if shipsNotVisible}}
        {{else}}
        <div class="tab" data-group="party">
            <h3 class="item">{{localize "BITD.Ship"}}</h3>
            <div class="table-row header">
                <div class="button"></div>
                <div class="text">{{localize "party-overview.NAME"}}</div>
                <div class="text icon">{{localize "BITD.Gambits"}}</i></div>
                <div class="text icon">{{localize "BITD.SystemsCrew"}}</i></div>
            </div>

            {{#each ships as | actor | }}
            <div class="table-row">
                {{> "modules/party-overview/templates/parts/ToggleVisibilityButton.html" actor=actor}}
                <div class="text">{{ actor.shortestName }}</div>
                <div class="text icon">{{ actor.gambits.value }}/{{ actor.gambits.max }}</div>
                <div class="text icon">{{ actor.crew.value }}/{{ actor.crew.max }}</div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </section>
</div>